<!-- views/login.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>



    </style>
    <title>Se connecter</title>
  </head>
  <body>
    <h1>Se connecter</h1>
    <!-- Your login form or other content here -->
    <form action="/auth/login" method="post">
      <label>Email:
        <input type="email" name="email" required>
      </label>
      <br>
      <label>Mot de passe:
        <input type="password" name="password" required>
      </label>
      <br>
      <button type="submit">Se connecter</button>
    </form>
  </body>
  </html>
