<!-- views/register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S'inscrire</title>
</head>
<body>
  <h1>S'inscrire</h1>

  <form action="/auth/register" method="post">
    <label>Email:
      <input type="email" name="email" required>
    </label>
    <br>
    <label>Mot de passe:
      <input type="password" name="password" required>
    </label>
    <br>
    <button type="submit">S'inscrire</button>
  </form>
  <p>Vous avez déjà un compte? <a href="/auth/login">Connectez-vous ici</a></p>
</body>
</html>
